
@tailwind utilities;

/*Start Animations*/
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
/*End Animations*/
/*
-- Start BackGround Animation
*/
.bg {
    background: rgb(21, 21, 36);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.fireflies {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    overflow: hidden;
}

.fireflies li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(rgba(217, 255, 0, 1) 1%, rgba(217, 255, 0, 0.05) 2%, rgba(0, 0, 0, 0.0) 50%);
    animation: animate 25s linear infinite;
    bottom: -150px;
    border-radius: 50%;
}

.fireflies li:nth-child(1) {
    left: 25%;
    width: 200px;
    height: 200px;
    animation-delay: 0s;
}

.fireflies li:nth-child(2) {
    left: 10%;
    width: 250px;
    height: 250px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.fireflies li:nth-child(3) {
    left: 70%;
    width: 290px;
    height: 290px;
    animation-delay: 4s;
}

.fireflies li:nth-child(4) {
    left: 40%;
    width: 260px;
    height: 260px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.fireflies li:nth-child(5) {
    left: 65%;
    width: 190px;
    height: 190px;
    animation-delay: 0s;
}

.fireflies li:nth-child(6) {
    left: 75%;
    width: 330px;
    height: 330px;
    animation-delay: 3s;
}

.fireflies li:nth-child(7) {
    left: 35%;
    width: 340px;
    height: 340px;
    animation-delay: 7s;
}

.fireflies li:nth-child(8) {
    left: 50%;
    width: 250px;
    height: 250px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.fireflies li:nth-child(9) {
    left: 20%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.fireflies li:nth-child(10) {
    left: 85%;
    width: 360px;
    height: 360px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}
/*
-- End BackGround Animation
*/